
---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../layouts/Default.astro";

export async function getStaticPaths() {
    const posts = await getCollection('blogPosts');
    return posts.map(post => ({
        params: {
            slug: post.data.slug
        }
    }))
}

const postEntry = await getEntry('blogPosts', Astro.params.slug || '');
const post = postEntry?.data;

if (!post) {
    return Astro.redirect('/404');
}

const { Content } = await render(postEntry);
---
<Layout title={post.title} description={post?.description}>
    <article>
        <h1 class="post-title text-3xl lg:text-5xl lg:pl-0 font-bold">{post.title}</h1>
        <div class="post-content mt-12 text-lg">
            <Content />
        </div>
    </article>
</Layout>