
---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Default.astro";

export async function getStaticPaths() {
    const posts = await getCollection('blogPosts');
    return posts.map(post => ({
        params: {
            slug: post.data.slug
        },
        props: {
            post: post.data
        }
    }))
}

const { post } = Astro.props;
 
if (!post) {
    return Astro.redirect('/404');
}

---
<Layout title={post.title + ' | ' + import.meta.env.DOMAIN } description={post?.description}>
    <article>
        <h1 class="post-title text-3xl lg:text-5xl lg:pl-0 font-bold">{post.title}</h1>
        <div class="post-content mt-12 text-lg" set:html={post.content} />
    </article>
</Layout>