---
import Layout from "../layouts/Default.astro";
import Prose from "../components/Prose.astro";
---
<Layout title={'About'}>
    <h1 class="halftone ont-display text-3xl text-black font-bold mb-2 md:text-6xl md:leading-[1.2]">About</h1>
    <Prose>
        <p>I'm the Technical Team Lead for Umbraco Commerce at Umbraco HQ, where I specialize in driving e-commerce solutions and technical excellence within the Umbraco ecosystem. Beyond my role at Umbraco, I’m also the co-founder of CODECABIN, an intimate and collaborative event for Umbraco developers, and the creator of the UMB.FYI newsletter, dedicated to sharing the latest insights and trends in the Umbraco community.<br /><br />Passionate about fostering innovation and knowledge sharing, I thrive on connecting with others who are equally enthusiastic about technology and open-source platforms.</p>
    </Prose>
</Layout>