---
const { pathname } = Astro.url;
---

<header class="py-4 top-0 left-0 right-0 z-10 flex items-center justify-between md:py-8">
    <div class="font-display font-bold text-2xl text-black">
        <a href="/" class="logo hover:text-pink-500">{import.meta.env.DOMAIN}</a>
    </div>
    <nav class="hidden md:block">
        <ul class="space-x-4 main-menu">
            <li class="inline-block">
                <a href="/" class:list={['px-2', 'hover:text-pink-500']}>Home</a>
            </li>
            <li class="inline-block">
                <a href="/about" class:list={['px-2', 'hover:text-pink-500']}>About</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .logo {
        position: relative;
    }
    /*
    .logo:after {
        content: "";
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 2px;
        background-color: rgb(236 72 153 / var(--tw-text-opacity));
        height: 8px;
        z-index: -1;
        transition: all 0.1s;
    }
    .logo:hover:after {
        height: calc(100% - 4px);
    }
    */
    .main-menu .active {
        @apply font-medium underline;
        text-underline-offset: 4px;
    }
</style>