---

---

<header class="p-4 top-0 left-0 right-0 z-10 flex items-center justify-start md:justify-center md:pt-8 md:pt-4">
    <div class="font-display text-xl text-black md:text-2xl">
        <a href="/" class="hover:text-accent md:transition-colors" aria-label="Home">
            <img src="/logo-128.png" srcset="/logo-128.png 1x, /logo-256.png 2x" alt="Matt Brailsford" />
        </a>
    </div>
</header>