---
const { pathname } = Astro.url;
import { SOCIAL_LINKS } from '../consts';

const isHome = pathname === '/';
const isAbout = pathname.startsWith('/about');
---

<header class="py-8 top-0 left-0 right-0 z-10 flex items-center justify-between">
    <div class="font-extrabold text-2xl text-black">
        <a href="/">{import.meta.env.DOMAIN}</a>
    </div>
    <nav class="">
        <ul class="space-x-4 main-menu">
            <li class="inline-block">
                <a href="/" class:list={['px-2', { active: isHome }]}>Home</a>
            </li>
            <li class="inline-block">
                <a href="/about" class:list={['px-2', { active: isAbout }]}>About</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .logo {
        
    }
    .main-menu .active {
        @apply font-medium underline;
        text-underline-offset: 4px;
    }
</style>