---
const { pathname } = Astro.url;

const isHome = pathname === '/';
const isAbout = pathname.startsWith('/about');
---

<header class="py-8 top-0 left-0 right-0 z-10 flex items-center justify-between">
    <div class="font-extrabold text-2xl text-black">
        <a href="/" class="logo">{import.meta.env.DOMAIN}</a>
    </div>
    <nav class="">
        <ul class="space-x-4 main-menu">
            <li class="inline-block">
                <a href="/" class:list={['px-2', { active: isHome }]}>Home</a>
            </li>
            <li class="inline-block">
                <a href="/about" class:list={['px-2', { active: isAbout }]}>About</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .logo {
        position: relative;
    }
    .logo:after {
        content: "";
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 2px;
        background-color: rgb(236 72 153 / var(--tw-text-opacity));
        height: 8px;
        z-index: -1;
        transition: height 0.1s;
    }
    .logo:hover:after {
        height: calc(100% - 4px);
    }
    .main-menu .active {
        @apply font-medium underline;
        text-underline-offset: 4px;
    }
</style>