---
import Logo from '../assets/logo.svg';
---

<header class="p-4 top-0 left-0 right-0 z-10 flex items-center justify-start md:justify-center md:pt-8 md:pt-4">
    <div class="font-display text-xl text-black md:text-2xl">
        <a href="/" class="logo-link" aria-label="Home">
            <Logo width="128" height="128" aria-label="Matt Brailsford" />
        </a>
    </div>
</header>

<style is:global>
    .logo-link [fill="#ffb405"] {
        transition: fill 0.2s;
    }
    .logo-link:hover [fill="#ffb405"] {
        fill: oklch(65.6% 0.241 354.308);
    }
</style>