---

---

<header class="py-4 top-0 left-0 right-0 z-10 flex items-center justify-between md:py-8">
    <div class="font-display font-bold text-2xl text-black">
        <a href="/" class="hover:text-pink-500">{import.meta.env.DOMAIN}</a>
    </div>
    <nav class="hidden md:block">
        <ul class="space-x-4 main-menu">
            <li class="inline-block">
                <a href="/" class:list={['px-2', 'hover:text-pink-500']}>Home</a>
            </li>
            <li class="inline-block">
                <a href="/about" class:list={['px-2', 'hover:text-pink-500']}>About</a>
            </li>
        </ul>
    </nav>
</header>