---
import SocialLinks from "./SocialLinks.astro";
---
<h1 class="font-display text-3xl text-black font-extrabold md:mb-8 md:text-6xl md:leading-[1.1] md:text-center">Matt Brailsford</h1>
<p class="py-4 text-lg md:text-xl md:text-center">Staff Engineer @ Umbraco HQ | Co-founder of CODECABIN | Creator of UMB.FYI</p>
<SocialLinks class="mt-2 mb-4 md:mb-16" />
