---
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
const paginationList = Array.from({ length: length }, (_, i) => i + 1);
---
<nav class="flex items-center justify-between">
    <div class="-mt-px flex w-0 flex-1">
        <a href={prevUrl} class=`inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium ${prevUrl ? 'text-slate-500 hover:border-slate-300 hover:text-slate-700' : 'text-slate-300 disabled' }`>
            <svg class="mr-3 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
            </svg>
            Previous
        </a>
    </div>
    <div class="hidden md:-mt-px md:flex">
        {paginationList.map((num) => (
            <a href={`${num == 1 ? "/" : '/' + (num)}`} class={`inline-flex items-center border-t-2  px-4 pt-4 text-sm font-medium  ${currentPage == num ? "disabled border-pink-500 text-pink-600" : "border-transparent text-slate-500 hover:border-slate-300 hover:text-slate-700" }`}>
                {num}
            </a>
        ))}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
        <a href={nextUrl} class=`inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium ${nextUrl ? 'text-slate-500 hover:border-slate-300 hover:text-slate-700' : 'text-slate-300 disabled' }`>
            Next
            <svg class="ml-3 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</nav>