---
export type Props = { content?: string; }
const { content } = Astro.props;

---
<div class="prose 
    prose-slate 
    prose-lg
    prose-headings:font-display
    prose-headings:font-extrabold 
    prose-headings:text-black 
    prose-headings:mb-3 
    prose-headings:leading-[1.1]
    prose-inline-code:bg-gray-100 
    prose-img:mx-auto 
    prose-img:rounded-xl
    prose-img:border
    prose-img:border-gray-200
    prose-video:mx-auto 
    prose-video:rounded-xl
    prose-video:border
    prose-video:border-gray-200
    prose-blockquote:font-normal
    prose-li:marker:text-slate-700 
    prose-a:break-words
    prose-hr:my-8
    hover:prose-a:text-pink-500 
    leading-7
    md:prose-xl
    md:prose-a:transition-colors
    mt-8
    max-w-none ">
    {content && (<div set:html={content}></div>)}
    <slot />
</div>