---
export type Props = { tag: string }
const { tag } = Astro.props;
---
<a href={`/tag/${tag}`} class="tag inline-block px-2 px-4 border-2 border-gray-100 bg-gray-100 hover:bg-accent hover:text-white hover:border-accent md:transition-colors">#{tag}</a>